// sass css/main.scss css/main.css

$main-color: rgb(255, 253, 246);	/* Main Primary color */
$hover-color: rgb(235, 205, 175);
$c2: #405768;
$c3: #193141;
$c4: #0C202F;
$background-color: rgb(253, 253, 253);
$font-stack: Palatino Linotype, Book Antiqua, Palatino, serif;

* {
    margin: 0;
    box-sizing: border-box;
  }
  img {
    width: 100%;
  }
  ul {
    list-style-type: none;
  }
  h1, h2, h3, p {
      color: black;
      font-family: $font-stack;
      text-align: center;
      }
  a {
    text-decoration: none;
  }

  body {
    background-color: $background-color;
  }

  main {
      background-color: $main-color;
  }

  select {
      background-color: $main-color;
      border: 6px solid transparent;
      border-color: $main-color transparent transparent transparent;
      width: 100vw;
      font-size: 1.5em;
      text-justify: center;
  }

#grid-table {
  display: grid;
  grid-row-gap: 2vh;
}
#grid-header {
  display: none;
}

.grid-row {
  display: grid;
  grid-template-rows: repeat(auto-fill, 25px);
  grid-row-gap: 1vh;
  text-align: center;
}
.grid-cell {
  text-align: center;
}

@media screen and (min-width: 600px) {
  #grid-header {
    display: block;
  }
  .grid-row {
    grid-template-columns: repeat(auto-fill, 25%);
    grid-template-rows: auto;
  }
}